html {
    --primary-color: #252B42;
    --secondary-color: #23A6F0;
    --light-color: #FFFFFF;
}

/* Section 4 Style */
#section4 {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.img-custom {
    filter: brightness(70%);
}

.btn-custom {
    background-color: var(--secondary-color);
    color: var(--light-color);
    border-radius: 37px;
    min-width: 165px;
}

.small-text {
    max-width: 470px;
}
